/* --------------------------------------------------- VARIABLES --------------------------------------------------- */
/* --------------------------------------------------- GENERAL --------------------------------------------------- */
body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Alef", sans-serif !important;
  padding-top: 60px;
  overflow-x: hidden;
  direction: rtl; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  cursor: default;
  visibility: hidden;
  transition: .3s all ease-out; }
  .overlay.active {
    opacity: 1;
    visibility: visible; }
  .overlay-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }

/* /.overlay */
hr {
  border-color: #979797; }

.img-w100 {
  width: 100%; }
.img-h100 {
  height: 100%; }
.img-mh250 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 250px;
  overflow: hidden; }

.signature {
  width: 70px;
  position: absolute;
  bottom: 0rem;
  left: 2rem; }

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999; }

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

.section-title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #393939; }

/* --------------------------------------------------- BUTTONS --------------------------------------------------- */
.btn, .btn:hover, .btn:focus {
  border-radius: 2rem !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  text-decoration: none !important; }
.btn-sm {
  padding: .5rem 3rem; }
.btn-lg {
  padding: 1rem 3rem; }
.btn--black {
  border: solid 1px #000000;
  background-color: #000000;
  color: #ffffff !important; }
  .btn--black:hover {
    border-color: #285755;
    background-color: #285755;
    color: #ffffff !important; }
.btn--grey {
  border: solid 1px #bdbdbd;
  background-color: #ffffff;
  color: #888888 !important; }
  .btn--grey:hover {
    border-color: #285755;
    background-color: #fef5d7;
    color: #285755 !important; }
.btn--navbar {
  border: solid 1px #ffffff;
  background-color: transparent;
  color: #ffffff !important; }
  .btn--navbar:hover {
    background-color: #fef5d7;
    color: #285755 !important; }
.btn--carousel {
  margin-bottom: 1rem;
  border: solid 1px #ffffff;
  background-color: transparent;
  color: #ffffff !important; }
  .btn--carousel:hover {
    background-color: #fef5d7;
    color: #285755 !important; }
.btn--article {
  border: none;
  background-color: transparent;
  font-weight: 700;
  color: #285755 !important; }
  .btn--article:hover {
    background-color: rgba(40, 87, 85, 0.2);
    font-weight: 700;
    color: #285755 !important; }
.btn--asset {
  border: solid 1px #285755;
  background-color: transparent;
  color: #285755 !important; }
  .btn--asset:hover {
    background-color: #fef5d7;
    color: #285755 !important; }
.btn--contact {
  border: solid 1px #ffffff;
  background-color: #ffffff;
  font-size: .8rem !important;
  color: #000000 !important; }
  .btn--contact:hover {
    border-color: #285755;
    background-color: #285755;
    color: #ffffff !important; }

/* --------------------------------------------------- MAIN NAVBAR --------------------------------------------------- */
.navbar {
  padding: 1rem 0;
  color: #ffffff;
  background-color: #285755; }
  .navbar .navbar-brand {
    position: absolute;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    transition: none; }
    .navbar .navbar-brand img {
      height: 100%; }
  .navbar .nav-link {
    font-size: 1rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important; }
  .navbar .btn {
    padding-right: .8rem;
    padding-left: .8rem;
    font-size: .8rem;
    line-height: 1.1; }

/* /.navbar */
/* hamburger */
#sidebar__collapse {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 9999; }
  #sidebar__collapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #000000;
    transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    transition-delay: 0.2s; }
    #sidebar__collapse span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px); }
    #sidebar__collapse span:nth-of-type(2) {
      opacity: 0; }
    #sidebar__collapse span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px); }
    @media (max-width: 768px) {
      #sidebar__collapse span:first-of-type, #sidebar__collapse span:nth-of-type(2), #sidebar__collapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto; } }
  #sidebar__collapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
    background: #ffffff; }
    @media (max-width: 768px) {
      #sidebar__collapse.active span {
        margin: 0 auto; } }
    @media (max-width: 768px) {
      #sidebar__collapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px); } }
    @media (max-width: 768px) {
      #sidebar__collapse.active span:nth-of-type(2) {
        opacity: 0; } }
    @media (max-width: 768px) {
      #sidebar__collapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px); } }

/* /.hamburger */
/* sidebar */
#sidebar {
  min-width: 300px;
  max-width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -300px;
  background: #fef5d7;
  color: #000000;
  transition: .3s all 0.3s ease-out;
  z-index: 9989; }
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
      transform: rotateY(90deg); } }
  #sidebar.active {
    right: 0; }
    @media (max-width: 768px) {
      #sidebar.active {
        margin-left: 0;
        transform: none; } }
  #sidebar .sidebar__header {
    padding: 20px; }
  #sidebar ul.sidebar__list {
    padding: 20px 0; }
  #sidebar ul ul p {
    color: #000000;
    padding: 10px; }
  #sidebar ul li a {
    display: block;
    padding: .5rem 2.5rem;
    font-size: 1rem;
    text-align: right; }
    #sidebar ul li a:hover {
      color: #ffffff;
      background: rgba(162, 86, 42, 0.8); }
  #sidebar ul li.active > a, #sidebar ul a[aria-expanded="true"] {
    color: #ffffff;
    background: #285755; }
  #sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #285755; }
  #sidebar a[data-toggle="collapse"] {
    position: relative; }
  #sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%); }
  #sidebar .sidebar__social-icons {
    text-align: right;
    padding: .5rem 2.5rem; }
    #sidebar .sidebar__social-icons a {
      margin-left: 1rem;
      font-size: 1.5rem;
      color: #285755; }
      #sidebar .sidebar__social-icons a:hover {
        color: #072b31; }

/* --------------------------------------------------- STICKY NAVBAR --------------------------------------------------- */
.navbar__sticky {
  overflow: hidden;
  background-color: #fef5d7;
  z-index: 100; }
  .navbar__sticky::before, .navbar__sticky::after {
    content: '';
    display: table; }
  .navbar__sticky::after {
    clear: both; }
  .navbar__sticky a {
    position: relative;
    display: block;
    float: right;
    padding: 1rem;
    color: #285755;
    text-align: right; }
    .navbar__sticky a:not(:last-child)::after {
      content: '';
      width: 1px;
      height: 50%;
      background-color: #285755;
      position: absolute;
      top: 25%;
      left: 0; }
  .navbar__sticky.active {
    position: fixed;
    width: 100%;
    top: 76px; }

.navnext {
  margin-top: 56px; }

/* --------------------------------------------------- MAIN NAVBAR --------------------------------------------------- */
.navbar {
  padding: 1rem 0;
  color: #ffffff;
  background-color: #285755; }
  .navbar .navbar-brand {
    position: absolute;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    transition: none; }
    .navbar .navbar-brand img {
      height: 100%; }
  .navbar .nav-link {
    font-size: 1rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important; }
  .navbar .btn {
    padding-right: .8rem;
    padding-left: .8rem;
    font-size: .8rem;
    line-height: 1.1; }

/* /.navbar */
/* hamburger */
#sidebar__collapse {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 9999; }
  #sidebar__collapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #000000;
    transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    transition-delay: 0.2s; }
    #sidebar__collapse span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px); }
    #sidebar__collapse span:nth-of-type(2) {
      opacity: 0; }
    #sidebar__collapse span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px); }
    @media (max-width: 768px) {
      #sidebar__collapse span:first-of-type, #sidebar__collapse span:nth-of-type(2), #sidebar__collapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto; } }
  #sidebar__collapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
    background: #ffffff; }
    @media (max-width: 768px) {
      #sidebar__collapse.active span {
        margin: 0 auto; } }
    @media (max-width: 768px) {
      #sidebar__collapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px); } }
    @media (max-width: 768px) {
      #sidebar__collapse.active span:nth-of-type(2) {
        opacity: 0; } }
    @media (max-width: 768px) {
      #sidebar__collapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px); } }

/* /.hamburger */
/* sidebar */
#sidebar {
  min-width: 300px;
  max-width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -300px;
  background: #fef5d7;
  color: #000000;
  transition: .3s all 0.3s ease-out;
  z-index: 9989; }
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
      transform: rotateY(90deg); } }
  #sidebar.active {
    right: 0; }
    @media (max-width: 768px) {
      #sidebar.active {
        margin-left: 0;
        transform: none; } }
  #sidebar .sidebar__header {
    padding: 20px; }
  #sidebar ul.sidebar__list {
    padding: 20px 0; }
  #sidebar ul ul p {
    color: #000000;
    padding: 10px; }
  #sidebar ul li a {
    display: block;
    padding: .5rem 2.5rem;
    font-size: 1rem;
    text-align: right; }
    #sidebar ul li a:hover {
      color: #ffffff;
      background: rgba(162, 86, 42, 0.8); }
  #sidebar ul li.active > a, #sidebar ul a[aria-expanded="true"] {
    color: #ffffff;
    background: #285755; }
  #sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #285755; }
  #sidebar a[data-toggle="collapse"] {
    position: relative; }
  #sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%); }
  #sidebar .sidebar__social-icons {
    text-align: right;
    padding: .5rem 2.5rem; }
    #sidebar .sidebar__social-icons a {
      margin-left: 1rem;
      font-size: 1.5rem;
      color: #285755; }
      #sidebar .sidebar__social-icons a:hover {
        color: #072b31; }

/* --------------------------------------------------- STICKY NAVBAR --------------------------------------------------- */
.navbar__sticky {
  overflow: hidden;
  background-color: #fef5d7;
  z-index: 100; }
  .navbar__sticky::before, .navbar__sticky::after {
    content: '';
    display: table; }
  .navbar__sticky::after {
    clear: both; }
  .navbar__sticky a {
    position: relative;
    display: block;
    float: right;
    padding: 1rem;
    color: #285755;
    text-align: right; }
    .navbar__sticky a:not(:last-child)::after {
      content: '';
      width: 1px;
      height: 50%;
      background-color: #285755;
      position: absolute;
      top: 25%;
      left: 0; }
  .navbar__sticky.active {
    position: fixed;
    width: 100%;
    top: 76px; }

.navnext {
  margin-top: 56px; }

/* --------------------------------------------------- HERO --------------------------------------------------- */
.section__hero .carousel-indicators {
  padding: 0; }
  .section__hero .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #ffffff; }
    .section__hero .carousel-indicators li.active {
      background-color: #ffffff; }
.section__hero .carousel-caption {
  width: 100%;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: rgba(0, 0, 0, 0.3); }
  .section__hero .carousel-caption .container {
    max-width: 560px; }
  .section__hero .carousel-caption h3.display-5 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    color: #fef5d7; }
  .section__hero .carousel-caption .lead {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff; }
  .section__hero .carousel-caption .sub-lead {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    color: #ffffff; }
.section__hero .carousel-item {
  height: 650px;
  background-size: cover; }
.section__hero .carousel-image-1 {
  background-image: url("https://source.unsplash.com/random/560x560"); }
.section__hero .carousel-image-2 {
  background-image: url("https://source.unsplash.com/random/561x561"); }
.section__hero .carousel-image-3 {
  background-image: url("https://source.unsplash.com/random/562x562"); }

.section__parallax {
  position: relative;
  margin-top: 1rem;
  max-height: 300px;
  background-image: url("../images/hero/about.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .section__parallax--about {
    background-image: url("../images/hero/about.jpg");
    background-position: 50% 170%; }
  .section__parallax--services {
    background-image: url("../images/hero/services.jpg");
    background-position: 50% 180%; }
  .section__parallax--assets {
    background-image: url("../images/hero/assets.jpg");
    background-position: 50% 200%; }
  .section__parallax--blog {
    background-image: url("../images/hero/blog.jpg");
    background-position: 50% 140%; }
  .section__parallax--single {
    background-image: url("../images/hero/single.jpg");
    background-position: 50% 140%; }
  .section__parallax h1 {
    margin: 0 auto;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 2px 10px #285755;
    color: #ffffff; }
  .section__parallax--md h1 {
    padding: 5rem 0; }
  .section__parallax--sm h1 {
    padding: 2rem 0; }

/* --------------------------------------------------- SECTION INFO --------------------------------------------------- */
.section__info .order-md-6 {
  padding: 0 3rem 0 0; }
.section__info h3 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-align: right;
  color: #285755; }
.section__info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
  color: #6e6e6e; }
.section__info#home__info h3, .section__info#home__info p {
  max-width: 380px; }
.section__info--rhombus .info {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 4rem; }
  .section__info--rhombus .info__img {
    width: 35%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    overflow: hidden; }
    .section__info--rhombus .info__img img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto; }
  .section__info--rhombus .info__body {
    width: 65%;
    padding: 1.5rem 3rem 2.5rem 2rem; }
    .section__info--rhombus .info__body h4 {
      padding-bottom: .3rem;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.1;
      text-align: right;
      color: #285755; }
    .section__info--rhombus .info__body p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.1;
      text-align: right;
      color: #000000; }

/* --------------------------------------------------- SERVICES --------------------------------------------------- */
.section__services .service {
  text-align: center; }
  .section__services .service img {
    width: 120px;
    height: 120px;
    margin-bottom: 2rem; }
  .section__services .service h4 {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.7;
    text-align: center;
    color: #393939; }
  .section__services .service p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    color: #6e6e6e; }

.section__services-parallax .service-img-effect {
  width: 8rem;
  height: 8rem;
  position: absolute;
  bottom: -4rem;
  left: -3rem; }
.section__services-parallax .order-md-6 + .col-md-6 .service-img-effect {
  left: unset;
  right: -3rem; }

/* --------------------------------------------------- SECTION ASSETS --------------------------------------------------- */
.section__assets-title {
  padding: 0 15px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-align: right;
  color: #285755; }
.section__assets .container .row {
  margin: 2rem 0; }
.section__assets--carousel .carousel-multi-item {
  position: relative; }
  .section__assets--carousel .carousel-multi-item .carousel-inner {
    margin: 0 auto;
    padding: 0; }
  .section__assets--carousel .carousel-multi-item .carousel-indicators {
    display: none; }
  .section__assets--carousel .carousel-multi-item .prev-btn {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%); }
  .section__assets--carousel .carousel-multi-item .next-btn {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%); }
  .section__assets--carousel .carousel-multi-item .btn-floating i {
    font-size: 1.5rem; }
.section__assets--vert .card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.15);
  background-color: #f7f7f7;
  overflow: hidden; }
  .section__assets--vert .card-sold {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 200px;
    left: 1rem;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #285755;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #ffffff; }
  .section__assets--vert .card-img {
    max-height: 200px;
    border-radius: 0;
    overflow: hidden; }
    .section__assets--vert .card-img img {
      width: 100%; }
  .section__assets--vert .card-body {
    position: relative;
    padding: .5rem 1.25rem 1.25rem; }
  .section__assets--vert .card__top {
    display: block;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: right;
    color: #777777; }
  .section__assets--vert .card__title {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: right;
    color: #000000; }
  .section__assets--vert .card__details {
    list-style: none;
    margin: 0;
    padding: 0 0 2.5rem; }
    .section__assets--vert .card__details::before, .section__assets--vert .card__details::after {
      content: '';
      display: table; }
    .section__assets--vert .card__details::after {
      clear: both; }
    .section__assets--vert .card__details li {
      display: block;
      position: relative;
      width: 33.3333%;
      float: right;
      padding-right: 1rem;
      font-size: .8rem;
      font-weight: 400;
      line-height: 1.8;
      text-align: right;
      color: #000000; }
      .section__assets--vert .card__details li::before {
        content: '';
        width: .8rem;
        height: .8rem;
        position: absolute;
        top: 50%;
        right: -.2rem;
        transform: translateY(-50%);
        background-size: contain;
        background-position: left top;
        background-repeat: no-repeat; }
      .section__assets--vert .card__details li:nth-child(1)::before {
        background-image: url("../images/icons/icon-location.svg"); }
      .section__assets--vert .card__details li:nth-child(2)::before {
        background-image: url("../images/icons/icon-ruler.svg"); }
      .section__assets--vert .card__details li:nth-child(3)::before {
        background-image: url("../images/icons/icon-rooms.svg"); }
      .section__assets--vert .card__details li:nth-child(4)::before {
        background-image: url("../images/icons/icon-cube.svg"); }
      .section__assets--vert .card__details li:nth-child(5)::before {
        background-image: url("../images/icons/icon-parking.svg"); }
      .section__assets--vert .card__details li:nth-child(6)::before {
        background-image: url("../images/icons/icon-elevator.svg"); }
  .section__assets--vert .card__btn {
    position: absolute;
    bottom: 15px;
    left: 15px; }
    .section__assets--vert .card__btn span {
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      font-size: .8rem;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      color: #000000; }
.section__assets--horz .card {
  position: relative;
  max-height: 350px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.15);
  background-color: #f7f7f7;
  overflow: hidden; }
  .section__assets--horz .card-sold {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #285755;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #ffffff; }
  .section__assets--horz .card-img {
    width: 60%;
    border-radius: 0; }
    .section__assets--horz .card-img img {
      display: block;
      height: 100%;
      margin: 0 auto; }
  .section__assets--horz .card-body {
    position: relative;
    width: 40%;
    padding: .5rem 1.25rem 1.25rem; }
  .section__assets--horz .card__top {
    display: block;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: right;
    color: #777777; }
  .section__assets--horz .card__title {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: right;
    color: #000000; }
  .section__assets--horz .card__content {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    text-align: right;
    color: #6e6e6e; }
  .section__assets--horz .card__details {
    list-style: none;
    margin: 0;
    padding: 0 0 1rem; }
    .section__assets--horz .card__details::before, .section__assets--horz .card__details::after {
      content: '';
      display: table; }
    .section__assets--horz .card__details::after {
      clear: both; }
    .section__assets--horz .card__details li {
      display: block;
      position: relative;
      width: 50%;
      float: right;
      padding-right: 1rem;
      font-size: .8rem;
      font-weight: 400;
      line-height: 1.8;
      text-align: right;
      color: #000000; }
      .section__assets--horz .card__details li::before {
        content: '';
        width: .8rem;
        height: .8rem;
        position: absolute;
        top: 50%;
        right: -.2rem;
        transform: translateY(-50%);
        background-size: contain;
        background-position: left top;
        background-repeat: no-repeat; }
      .section__assets--horz .card__details li:nth-child(1)::before {
        background-image: url("../images/icons/icon-location.svg"); }
      .section__assets--horz .card__details li:nth-child(2)::before {
        background-image: url("../images/icons/icon-ruler.svg"); }
      .section__assets--horz .card__details li:nth-child(3)::before {
        background-image: url("../images/icons/icon-rooms.svg"); }
      .section__assets--horz .card__details li:nth-child(4)::before {
        background-image: url("../images/icons/icon-cube.svg"); }
      .section__assets--horz .card__details li:nth-child(5)::before {
        background-image: url("../images/icons/icon-parking.svg"); }
      .section__assets--horz .card__details li:nth-child(6)::before {
        background-image: url("../images/icons/icon-elevator.svg"); }
  .section__assets--horz .card__btn {
    position: absolute;
    bottom: 15px;
    right: 15px; }
    .section__assets--horz .card__btn span {
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      font-size: .8rem;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      color: #000000; }

/* --------------------------------------------------- SECTION ARTICLES --------------------------------------------------- */
.section__articles .container .row {
  margin: 2rem 0; }
.section__articles .card {
  max-height: 250px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: 10px;
  border: solid 1px #979797;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.02);
  background-color: #ffffff;
  overflow: hidden; }
  .section__articles .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 0 !important;
    overflow: hidden; }
    .section__articles .card-img img {
      display: block;
      width: 100%;
      height: auto; }
  .section__articles .card-body {
    width: 60%;
    padding: 1.5rem 3rem 2.5rem 2rem; }
  .section__articles .card__top {
    display: block;
    padding-bottom: .3rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: right;
    color: #777777; }
  .section__articles .card__title {
    padding-bottom: .3rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: right;
    color: #000000; }
  .section__articles .card__content {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1;
    text-align: right;
    color: #000000; }
  .section__articles .card__btn {
    position: absolute;
    bottom: 15px;
    left: 15px; }
    .section__articles .card__btn span {
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      font-size: .8rem;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      color: #000000; }
  .section__articles .card--large {
    max-height: 300px; }
    .section__articles .card--large .card-img {
      width: 45%; }
    .section__articles .card--large .card-body {
      width: 55%; }
  .section__articles .card--medium .card-img {
    width: 45%; }
  .section__articles .card--medium .card-body {
    width: 55%; }

/* --------------------------------------------------- SECTION ASSETS --------------------------------------------------- */
.section__asset-info .asset-info__header {
  text-align: right; }
  .section__asset-info .asset-info__header h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #285755; }
  .section__asset-info .asset-info__header p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e6e6e; }
.section__asset-info .asset-info__body {
  position: relative;
  margin-bottom: 3rem;
  text-align: right; }
  .section__asset-info .asset-info__body p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e6e6e; }
.section__asset-info .asset-info__table {
  border: none; }
  .section__asset-info .asset-info__table td {
    padding: .5rem;
    border: none; }
    .section__asset-info .asset-info__table td.asset-info__table--price {
      padding: .5rem 1rem;
      border-radius: 5px;
      background-color: #fef5d7; }
    .section__asset-info .asset-info__table td.asset-info__table--features {
      padding: .5rem 1rem; }
      .section__asset-info .asset-info__table td.asset-info__table--features span {
        position: relative;
        display: block;
        padding-right: 1rem; }
        .section__asset-info .asset-info__table td.asset-info__table--features span::before {
          content: '';
          width: .8rem;
          height: .8rem;
          position: absolute;
          top: 50%;
          right: -.2rem;
          transform: translateY(-50%);
          background-size: contain;
          background-position: left top;
          background-repeat: no-repeat; }
  .section__asset-info .asset-info__table--key {
    display: block;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.2;
    color: #6e6e6e; }
  .section__asset-info .asset-info__table--val {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #393939; }
  .section__asset-info .asset-info__table--parking::before {
    background-image: url("../images/icons/icon-parking.svg"); }
  .section__asset-info .asset-info__table--elevator::before {
    background-image: url("../images/icons/icon-elevator.svg"); }
  .section__asset-info .asset-info__table--storage::before {
    background-image: url("../images/icons/icon-cube.svg"); }
.section__asset-info .asset-info__map {
  height: 250px; }
.section__asset-info .asset-info__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right; }
.section__asset-info .asset-info__price--key {
  display: inline-block;
  margin-left: .5rem;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #6e6e6e; }
.section__asset-info .asset-info__price--val {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #393939; }
.section__asset-info .asset-info__contact-title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #393939; }
.section__asset-info .asset-info__contact-subtitle {
  margin-bottom: 1.5rem;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: #393939; }
.section__asset-info .asset-info__contact-form {
  margin: 0 1rem;
  border-radius: 10px;
  background-color: #fef5d7; }
  .section__asset-info .asset-info__contact-form input, .section__asset-info .asset-info__contact-form textarea {
    border: none;
    border-radius: 5px !important;
    background-color: #ffffff;
    resize: none; }
  .section__asset-info .asset-info__contact-form .btn--submit:hover {
    border-color: #285755;
    background-color: #285755; }

.section__post p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
  color: #6e6e6e; }
.section__post .post-title {
  margin: 2rem 0 .5rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  text-align: right;
  color: #393939; }
.section__post .post-subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  text-align: right;
  color: #285755; }
.section__post .post-meta {
  margin: 0 0 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-align: right;
  color: #6e6e6e; }
.section__post .post__card {
  display: flex;
  flex-direction: row;
  align-items: stretch; }
  .section__post .post__card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    overflow: hidden; }
    .section__post .post__card__img img {
      display: block;
      width: 100%;
      height: auto; }
  .section__post .post__card__body {
    width: 65%;
    padding: 1.5rem 3rem 2.5rem 2rem; }
    .section__post .post__card__body h4 {
      padding-bottom: .3rem;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.1;
      text-align: right;
      color: #285755; }
    .section__post .post__card__body p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.1;
      text-align: right;
      color: #000000; }
.section__post .post__contact-title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #393939; }
.section__post .post__contact-subtitle {
  margin-bottom: 1.5rem;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: #393939; }
.section__post .post__contact-form {
  margin: 0 1rem 0 0;
  border-radius: 10px;
  background-color: #fef5d7; }
  .section__post .post__contact-form input, .section__post .post__contact-form textarea {
    border: none;
    border-radius: 5px !important;
    background-color: #ffffff;
    resize: none; }
  .section__post .post__contact-form .btn--submit:hover {
    border-color: #285755;
    background-color: #285755; }

/* --------------------------------------------------- FOOTER --------------------------------------------------- */
.footer {
  background-color: #393939; }
  .footer ul {
    text-align: right; }
    .footer ul li {
      padding-bottom: 1rem; }
  .footer a {
    font-size: .9rem;
    color: #ffffff; }
    .footer a:hover {
      color: #fef5d7; }
  .footer__social {
    padding: 0;
    text-align: right; }
    .footer__social-wrap {
      display: flex;
      justify-content: space-between; }
      .footer__social-wrap span {
        color: #ffffff; }
      .footer__social-wrap a {
        margin: 0 .2rem; }
  .footer__fb-feed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden; }
    .footer__fb-feed iframe {
      width: 100%;
      height: 100%;
      margin-top: 1rem;
      position: absolute;
      top: 0;
      left: 0; }
      .footer__fb-feed iframe[style] {
        width: 100% !important; }
  .footer .footer-copyright {
    background-color: #000000;
    font-size: .7rem;
    color: #eeeeee; }

/* /.footer */
/* --------------------------------------------------- CONTACT SECTION --------------------------------------------------- */
.section__contact-title {
  float: right;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1;
  text-align: right;
  color: #393939; }
.section__contact-form {
  border-radius: 10px;
  background-color: #fef5d7; }
  .section__contact-form input, .section__contact-form textarea {
    border: none;
    border-radius: 5px !important;
    background-color: #ffffff;
    resize: none; }
  .section__contact-form .btn--submit:hover {
    border-color: #285755;
    background-color: #285755; }
  .section__contact-form .contact__social-icons {
    padding-top: 1rem;
    text-align: right; }
    .section__contact-form .contact__social-icons a {
      margin: 0 .2rem; }
      .section__contact-form .contact__social-icons a:hover {
        color: #285755; }
.section__contact-map {
  border-radius: 10px;
  overflow: hidden; }
  .section__contact-map iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden; }

/*# sourceMappingURL=style.css.map */
