.background {

  &--black {
    background-color: $colorBlack !important;
    color: $colorWhite;
  }

  &--white {
    background-color: $colorWhite !important;
    color: $greyDark;
  }

  &--offwhite {
    background-color: $colorOffwhite !important;
    color: $greyDark;
  }

  &--grey {
    background-color: $greyDark !important;
    color: $colorWhite;
  }

  &--green {
    background-color: $greenDark !important;
    color: $colorWhite;
  }

  &--light-green {
    background-color: $greenLight !important;
    color: $colorWhite;
  }

  &--grad-green {
    background-image: linear-gradient(to right bottom, $greenLight, $greenDark);
    color: $colorWhite;
  }
}