.cta {
  &__action {
    text-align: center;

    & h5 {
      margin-bottom: 3rem;
      font-size: 2.8rem;
      font-weight: 400;
      color: $colorWhite;
      text-align: center;

      & span {
        color: $yellow;
      }
    }
  }
}