.header {
  background: transparent;

  // select all direct siblings
  & ~ *:not(.section__hero) {
    position: relative;
  }

  &__logo {
    border: none !important;
  }

  & .logo {
    width: auto;
    height: 25px;
    margin-top: 20px;
    transition: all .3s ease-out;
    @include mQuery(XS) {
      height: 35px;
    }
    @include mQuery(SM) {
      height: 45px;
    }
  }
}