.hero {
  &-text {
    width: 80%;
    padding: 0;
    position: relative;
    margin-top: 10vh;
    color: $colorBlack;
    @include mQuery(SM) {
      width: 50%;
      margin-top: 25vh;
    }

    & h1 {
      margin-bottom: .5rem;
      padding: 1rem 1.5rem;
      color: inherit;
      @include mQuery(SM) {
        padding: 0;
      }

      & span {
        color: $greenDark;
      }
    }
    
    & p {
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
      font-weight: 300;
      color: inherit;
      @include mQuery(SM) {
        padding: 0;
      }
    }
    
    & .btn {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }  
}
