/* ---- CONTAINER -------------------------------------------------------- */
.container {
  max-width: 120rem;
  margin: 0 auto !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  @include mQuery(XS) {
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;
  }

  &--small {
    max-width: 100rem;

    &.grid {
      gap: 2rem !important;
    }
  }
}

/* ---- GRID -------------------------------------------------------- */
.grid {
  display: grid;
  column-gap: 4.8rem;
  row-gap: 4.8rem;
  @include mQuery(MD) {
    row-gap: 6.4rem;
  }
  @include mQuery(LG) {
    row-gap: 9.6rem;
  }

  // &:not(:last-child) {
  //   margin-bottom: 9.6rem;
  // }
  
  &--2-cols {
    grid-template-columns: 1fr;
    @include mQuery(SM) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--3-cols {
    grid-template-columns: 1fr;
    @include mQuery(SM) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mQuery(MD) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--4-cols {
    grid-template-columns: 1fr;
    @include mQuery(SM) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mQuery(MD) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--5-cols {
    grid-template-columns: 1fr;
    @include mQuery(SM) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mQuery(MD) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &--6-cols {
    grid-template-columns: 1fr;
    @include mQuery(SM) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mQuery(MD) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  /* ---- GRID MODIFIERS -------------------------------------------------------- */
  &--center-v {
    align-items: center;
  }

  &--no-gap {
    gap: 0 !important;
  }

  &--even-gap {
    gap: 4.8rem !important;
  }
}
