/* ---- BREAKPOINTS --------------------------------------------------- */
$xxs: 320px;
$xs: 600px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;
$xxl: 1920px;


/* ---- COLORS -------------------------------------------------------- */

// greys
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorGrey: #555555;

// tints
$greenDark: #008155;
$greenLight: #3eb854;
$yellow: #fecf4d;
$orange: #f4732f;

// shades
$colorOffwhite: #f4f4f4;
$greyLight: #eeeeee;
$greyDark: #333333;

// accents


/* ---- FONTS --------------------------------------------------------- */
$fontFamily: 'Work Sans', sans-serif;
$fontSize: 62.5%;